body {background:rgba(221, 115, 44, 0.15);}/* opacity orange */
head {font-family: superclarendon, serif; 
	font-weight: 300; 
	font-style: normal;
	font-color:rgb(127, 67, 23);}/* brown text color */
h1 {font-family: superclarendon, serif; 
	font-weight: 400; 
	font-style: normal;
	font-size: 60px;
	font-color:rgb(127, 67, 23);
	padding: 20px;
	margin-left: 40px;
}
h2 {font-family: superclarendon, serif; 
	font-weight: 300; 
	font-style: normal;
	font-size: 37px;
	font-color:rgb(127, 67, 23);
	}

p {font-family: gill-sans-nova, sans-serif; 
	font-weight:600; 
	font-style: normal;
	font-size: 21px;
	font-color:rgba(127, 67, 23, 1);

}

a {
	text-decoration: none;
}
.active {text-decoration: underline;}
nav {
	font-family: superclarendon, serif; 
	font-weight: 300; 
	font-style: normal;
	font-color:rgb(127, 67, 23);
	text-align: center;
	background: rgba(247, 239, 235, 1);
		margin: 20px 20px;
		padding: 40px;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline-block;
	margin-left: 60px;
}


.first-column {
	width: 50%;
	float: left;
	background: rgba(221, 115, 44);
	margin: 20px 20px;
	padding: 40px;
}
.second-column {
	width: 50%;
	float: right;
	background: rgba(247, 239, 235, 1);
	margin: 20px 20px;
	padding: 40px;
}

.footer {
	font-family: gill-sans-nova, sans-serif; 
	font-weight: 600; 
	font-style: normal;
	font-size: 12px;
	font-color:rgb(127, 67, 23, 1);
}