body {background:rgba(221, 115, 44, 0.15);}/* opacity orange */
head {font-family: superclarendon, serif; 
	font-weight: 300; 
	font-style: normal;
	font-color: rgb(127, 67, 23);}/* brown text color */

h1 {font-family: superclarendon, serif; 
	font-weight: 400; 
	font-style: normal;
	font-size: 60px;
	font-color: rgb(127, 67, 23);
	padding: 20px;
	margin-left: 40px;
}
h2 {writing-mode: vertical-lr; /* vertal text tags */
	text-orientation: mixed; /* vertal text tags */
	transform: rotate(180deg);
	font-family: superclarendon, serif; 
	font-weight: 300; 
	font-style: normal;
	font-size: 37px;
	font-color: rgb(127, 67, 23);
	}

h3 {
	font-family: gill-sans-nova, sans-serif; 
	font-weight: 600; 
	font-style: normal;
	font-size: 21px;
	font-color: rgba(127, 67, 23, 1);
}

h4 {
	font-family: gill-sans-nova, sans-serif; 
	font-weight: 200; 
	font-style: italic;
	font-size: 21px;
	font-color: rgba(127, 67, 23, 1);
}

p {font-family: gill-sans-nova, sans-serif; 
	font-weight: 300; 
	font-style: normal;
	font-size: 21px;
	font-color: rgba(127, 67, 23, 1);
}

a {
	text-decoration: none;
}

.vertical {
	text-orientation: mixed;
	text-orientation: upright;
	text-orientation: sideways-left;
	text-orientation: sideways;
	text-orientation: use-glyph-orientation;
}
.active {text-decoration: underline;
font-color: rgb(127, 67, 23);}
nav {
	font-family: superclarendon, serif; 
	font-weight: 300; 
	font-style: normal;
	font-color:rgb(127, 67, 23);
	text-align: center;
	background: rgba(247, 239, 235, 1);
		margin: 20px 0;
		padding: 40px;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline-block;
	margin-left: 60px;
}

section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 20px 40px;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

section h1 { grid-column: 1 / -1; }

section div:nth-child(even) {
	margin-left: 60px;
}
section div:nth-child(even) img{
-webkit-box-shadow: -66px -40px 0px 0px rgba(221,115,44,1);
-moz-box-shadow: -66px -40px 0px 0px rgba(221,115,44,1);
box-shadow: -66px -40px 0px 0px rgba(221,115,44,1);
}
section div:nth-child(even) h2{
	margin-left: -40px;

	}
section div:nth-child(odd) {
	margin-left: 120px;}

section div:nth-child(odd) img{
-webkit-box-shadow: 50px -20px 0px 0px rgba(221,115,44,1);
-moz-box-shadow: 50px -20px 0px 0px rgba(221,115,44,1);
box-shadow: 50px -20px 0px 0px rgba(221,115,44,1);
}
section div:nth-child(odd) h2{
	margin-right: -90px;

	}
.shadow {
	-webkit-box-shadow: -66px -40px 0px 0px rgba(221,115,44,1);
	-moz-box-shadow: -66px -40px 0px 0px rgba(221,115,44,1);
	box-shadow: -66px -40px 0px 0px rgba(221,115,44,1);
}

img.hover {
  animation: shake 0.5s;
  animation-iteration-count: 1.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*column first try
.first-column {
	width: 50%;
	float: left;
	background: rgba(221, 115, 44);
	margin: 20px 20px;
	padding: 40px;
}
.second-column {
	width: 50%;
	float: right;
	background: rgba(247, 239, 235, 1);
	margin: 20px 20px;
	padding: 40px;
}*/

.footer {
	font-family: gill-sans-nova, sans-serif; 
	font-weight: 600; 
	font-style: normal;
	font-size: 12px;
	font-color:rgb(127, 67, 23, 1);
}